body{
    background-color: rgb(148, 219, 186);
}
.col-md-6{
    margin-top: 130px;
}
input[type="text"]{
    width: 60%;
    background-color: bisque;
    border: 2px solid rgb(10, 88, 0);
    border-radius: 11px;
}
input[type="button"]{
   width: 70%;
    background-color: rgb(117, 154, 184);
    color: white;
    border: 2px solid rgb(10, 88, 0);
    border-radius: 8px;
    }
    input:hover{
        background: rgb(97, 89, 89);
    }
h1 {
    font-weight: bold;
    color:rgb(156, 105, 9);
    background-color: rgb(177, 209, 206);
    border: 8px solid rgb(219, 214, 214);
}
table{
    background-color: rgb(177, 177, 177);
    border: 8px solid rgb(219, 214, 214);
}